.inputMes{
  width: 100%;

  input{
    outline: none;
    border-radius: 15px;
    border: darkred 2px solid;
    height: 40px;
    font-size: 30px;
    margin: 0 auto;
    padding: 0 0 0 5px;
    width: 100%;
  }
}