.auth{
  width: 320px;
  display: flex;
  flex-direction: column;


  div{
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    img{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 2px solid darkred;
    }

    button{
      padding: 15px 25px;
      width: 100%;
      border-radius: 15px;
      border: 2px solid darkred;
      background-color: white;
      color: darkred;
      font-size: 22px;
    }

    button:hover{
      cursor: pointer;
      border: 2px #fff solid;
      background-color: darkred;
      color: #fff;
    }
  }

  input{
    width: 300px;
    outline: none;
    border-radius: 15px;
    border: darkred 2px solid;
    height: 40px;
    font-size: 30px;
    margin: 0 auto;
    padding: 0 0 0 5px;
  }
}

.avatar{
  color: transparent;
}